# Ambiente Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Arquivos do VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log